

<!DOCTYPE html>
<html lang="en">
<head>      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>index</title>     
    <link href="/static/bootstrap-4/css/bootstrap.css" rel="stylesheet"></link>
    {% block head_css %}
         <link href="/static/css/index.css" rel="stylesheet"></link>
    {% end %}
    {% block extends_css %}
    {% end %}
</head>     
<body style="background: #ddd">      
    <div class="main" class='main'>
        <div class="control-group">
                
            <input name="search" type="text" class="form-control" id="id-search" value="" placeholder="search's value " style="width: 300px; left: 100px; margin: 20px">
            <!-- <input name="page" type="number" class="form-control" id="id-search-page" value="0"  style="left: 300px; margin: 20px"> -->
        </div>
        
        <div class="body col-md-8 col-lg-9 col-xl-10" style="display: flex ;display: flex;align-items: flex-end;flex-wrap: wrap;">
            {% block content %}
                {% for data in datas %}
                    {% module Textcard(link=data.get("link"), text=data.get("text"), title=data.get('title','No Tittle')) %}
                {% end %}
            {% end %}
            
        </div>
        
            
        </div>
        <div class="tail">
        {% block tail %}
        {% end %}
        </div>
    </div>
    
    <div class="modal fade" id="progressbar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">wait ...</h5>
            </div>
            <div class="modal-body">
                <div class="progress" style="height: 1px;">
                  <div id='p-bar' class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/bootstrap-4/js/bootstrap.js"></script>
    <script src="/static/js/websocket.js"></script>
    {% block body_js %}
        <script src="/static/js/index.js"></script>
    {% end %}

    {% block extends_js %}
    {% end %}
</body>     
</html>
